@{
    ViewData["Title"] = "Home Page";
}

<!-- Feature Section 1 - start -->
<section class="min-h-screen flex justify-center items-center flex-1 shrink-0 bg-gray-100 overflow-hidden shadow-lg relative py-16 md:py-20 xl:py-48">
      <!-- image - start -->
      <img src="https://images.unsplash.com/photo-1587293852726-70cdb56c2866?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80" loading="lazy" alt="Photo by Fakurian Design" class="w-full h-full object-cover object-center absolute inset-0" />
      <!-- image - end -->

      <!-- overlay - start -->
      <div class="bg-gray-500 mix-blend-multiply absolute inset-0"></div>
      <!-- overlay - end -->

      <!-- text start -->
      <div class="sm:max-w-3xl flex flex-col items-center relative p-4">
        <h1 class="text-white text-2xl sm:text-5xl md:text-4xl font-bold text-left mb-8 md:mb-12">Our 500+ highly trained professionals are happy to serve you.</h1>
      </div>
      <!-- text end -->
</section>
<!-- Feature Section 1 - end  -->
