<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WMS</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <style>
        html, body{
           font-family: 'Inter', sans-serif;
        }

        		.dataTables_wrapper select,.dataTables_wrapper .dataTables_filter input {
		  color: #4a5568; 			/*text-gray-700*/
		  padding-left: 1rem; 		/*pl-4*/
		  padding-right: 1rem; 		/*pl-4*/
		  padding-top: .5rem; 		/*pl-2*/
		  padding-bottom: .5rem; 		/*pl-2*/
		  line-height: 1.25; 			/*leading-tight*/
		  border-width: 2px; 			/*border-2*/
		  border-radius: .25rem; 		
		  border-color: #edf2f7; 		/*border-gray-200*/
		  background-color: #edf2f7; 	/*bg-gray-200*/
		}

		/*Row Hover*/
		table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
		  background-color: #ebf4ff;	/*bg-indigo-100*/
		}

		/*Pagination Buttons*/
		.dataTables_wrapper .dataTables_paginate .paginate_button		{
		  font-weight: 700;				/*font-bold*/
		  border-radius: .25rem;			/*rounded*/
		  border: 1px solid transparent;	/*border border-transparent*/
		}

		/*Pagination Buttons - Current selected */
		.dataTables_wrapper .dataTables_paginate .paginate_button.current	{
		  color: #fff !important;				/*text-white*/
		  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06); 	/*shadow*/
		  font-weight: 700;					/*font-bold*/
		  border-radius: .25rem;				/*rounded*/
		  background: #667eea !important;		/*bg-indigo-500*/
		  border: 1px solid transparent;		/*border border-transparent*/
		}

		/*Pagination Buttons - Hover */
		.dataTables_wrapper .dataTables_paginate .paginate_button:hover		{
		  color: #fff !important;				/*text-white*/
		  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);	 /*shadow*/
		  font-weight: 700;					/*font-bold*/
		  border-radius: .25rem;				/*rounded*/
		  background: #667eea !important;		/*bg-indigo-500*/
		  border: 1px solid transparent;		/*border border-transparent*/
	}

	/*Add padding to bottom border */
	table.dataTable.no-footer {
	  border-bottom: 1px solid #e2e8f0;	/*border-b-1 border-gray-300*/
	  margin-top: 0.75em;
	  margin-bottom: 0.75em;
	}

	/*Change colour of responsive icon*/
	table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
	  background-color: #667eea !important; /*bg-indigo-500*/
	}

	.modal {
      transition: opacity 0.25s ease;
    }
    body.modal-active {
      overflow-x: hidden;
      overflow-y: visible !important;
    }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow" id="nav1">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                      <ul class="navbar-nav flex-grow-1">
                          <li class="nav-item">
                            <a class="nav-link text-dark invisible" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    </ul>

                    @* @if (User.Identity.IsAuthenticated)
                    {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home.</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        </ul>
                    }*@
                </div>
            </div>
        </nav>
    </header>
        <div class="page-wrapper chiller-theme toggled" style="width: auto !important;">
 

        <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="/">WMS Portal</a>
       @* <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>*@
      </div>
      <div class="sidebar-header">
          @if (User.Identity.IsAuthenticated)
          {
              <div class="user-pic">
                <img class="img-responsive img-rounded" src="~/lib/user.jpg" alt="User picture">
              </div>
                <div class="user-info">
                  <span class="user-name">
                    <strong>@User.Identity.Name</strong>
                  </span>
                  <span class="user-role">User</span>
                  <span class="user-status">
                    <i class="fa fa-circle"></i>
                    <span>Online</span>
                  </span class="user-status">
                  <span>
                      <i class="fa fa-power-off"></i>
                      <a class="" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                  </span>
                </div>
             }
             else
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item my-4">
                                <a class="text-gray-500" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item my-4">
                                <a class="text-gray-500" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        </ul>
                    }

      </div>
      <!-- sidebar-header  -->      
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-tachometer-alt"></i>
              <span>Masters</span>
              @*<span class="badge badge-pill badge-warning">New</span>*@
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
@*                  <a href="#">Dashboard
                    <span class="badge badge-pill badge-success">Pro</span>
                  </a>
*@                  <a asp-area="" asp-controller="Companies" asp-action="Index">Associated Company List.</a>
                </li>
                <li>
                  @*<a href="#">Add New</a>*@
                  <a asp-area="" asp-controller="Companies" asp-action="Create">Add New Company</a>
                </li>  
                <li>
                  @*<a href="#">Add New</a>*@
                  <a asp-area="" asp-controller="Branch" asp-action="Create">Add New Branch</a>
                </li>
                 <li>
@*                  
*@                  <a asp-area="" asp-controller="Branch" asp-action="Index">Branch List</a>
                </li>

                <li>
                  @*<a href="#">Add New</a>*@
                  <a asp-area="" asp-controller="Customer" asp-action="Create">Add New Customer</a>
                </li>
                 <li>
@*                  
*@                  <a asp-area="" asp-controller="Customer" asp-action="Index">Customer List</a>
                </li>


                <li>
                  @*<a href="#">Add New</a>*@
                  <a asp-area="" asp-controller="Item" asp-action="Create">Add New Item</a>
                </li>
                 <li>
@*                  
*@                  <a asp-area="" asp-controller="Item" asp-action="Index">Item List</a>
                </li>

                <li>
                  @*<a href="#">Add New</a>*@
                  <a asp-area="" asp-controller="SubItem" asp-action="Create">Add New SubItem</a>
                </li>
                 <li>
@*                  
*@                  <a asp-area="" asp-controller="SubItem" asp-action="Index">SubItem List</a>
                </li>

         
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>E-commerce</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Products

                  </a>
                </li>
                <li>
                  <a href="#">Orders</a>
                </li>
                <li>
                  <a href="#">Credit cart</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="far fa-gem"></i>
              <span>Components</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">General</a>
                </li>
                <li>
                  <a href="#">Panels</a>
                </li>
                <li>
                  <a href="#">Tables</a>
                </li>
                <li>
                  <a href="#">Icons</a>
                </li>
                <li>
                  <a href="#">Forms</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-chart-line"></i>
              <span>Charts</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Pie chart</a>
                </li>
                <li>
                  <a href="#">Line chart</a>
                </li>
                <li>
                  <a href="#">Bar chart</a>
                </li>
                <li>
                  <a href="#">Histogram</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-globe"></i>
              <span>Maps</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Google maps</a>
                </li>
                <li>
                  <a href="#">Open street map</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-menu">
            <span>Extra</span>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-book"></i>
              <span>Documentation</span>
              <span class="badge badge-pill badge-primary">Beta</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-folder"></i>
              <span>Examples</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <div class="page-content" style="margin-top: unset !important; width: -webkit-fill-available !important;">
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            @*&copy; 2022 - WMSWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
    <script>
    jQuery(function ($) {

    $(".sidebar-dropdown > a").click(function() {
  $(".sidebar-submenu").slideUp(200);
  if (
    $(this)
      .parent()
      .hasClass("active")
  ) {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .parent()
      .removeClass("active");
  } else {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .next(".sidebar-submenu")
      .slideDown(200);
    $(this)
      .parent()
      .addClass("active");
  }
});

$("#close-sidebar").click(function() {
  $(".page-wrapper").removeClass("toggled");
});
$("#show-sidebar").click(function() {
  $(".page-wrapper").addClass("toggled");
});


   
   
});
    </script>
   
</body>
</html>
