@model WMSWebApp.ViewModels.Customer

@{
    ViewData["Title"] = "Create";
}

@section Style{
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
   
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create Customer</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Master</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create Customer</h3>

                    </div>
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body">


                            <div class=row>
                            </div>

                            <div class=row>
                                <div class=" col-md-6">
                                    <div class="form-group">
                                        <label asp-for="CustomerCode"></label>
                                        <input asp-for="CustomerCode" class="form-control" />
                                    </div>
                                    <span asp-validation-for="CustomerCode" class="text-danger"></span>
                                </div>
                                <div class=" col-md-6">
                                    <div class="form-group">
                                        <label asp-for="CustomerName"></label>
                                        <input asp-for="CustomerName" class="form-control" />
                                    </div>
                                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                                </div>

                            </div>

                            <div class=row>
                                <div class=" col-md-6">
                                    <div class="form-group">
                                        <label asp-for="CustomerCategory"></label>
                                        <select asp-for="CustomerCategory" class="form-control" >
                                            <option value="Dealer">Dealer</option>
                                            <option value="Customer">Customer</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="CustomerCategory" class="text-danger"></span>
                                </div>
                                <div class=" col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Location"></label>
                                        <input asp-for="Location" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Location" class="text-danger"></span>
                                </div>
                            </div>


                        </div>
                        <div class="card-footer">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-primary float-right">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/plugins/select2/js/select2.full.min.js"></script>
    <script>
        $(function() {
            $('.select2').select2({
                theme: 'bootstrap4'
            })
            $('.multiselect').select2()
        });
    </script>
    }
