@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> _roleManager

@model WMSWebApp.ViewModels.Account.UpdateUserModel
@{
    ViewData["Title"] = "Update Profile";
    var roles = _roleManager.Roles.ToList();
}

@section Style{
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Register User</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Master</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">


            <div class="row justify-content-center">


                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Register User</h3>

                        </div>

                        <form asp-action="Edit" asp-controller="Account" method="POST">
                            <input asp-for="Id" type="hidden" />
                            <input asp-for="UserId" type="hidden" />
                            <div class="card-body">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="first-name">First name</label>
                                            <input type="text" asp-for="FirstName" autocomplete="off" placeholder="First name" class="form-control">
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="last-name">Last name</label>
                                            <input type="text" asp-for="LastName" autocomplete="off" placeholder="Last name" class="form-control">
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>




                                <div class="form-group">
                                    <label for="email-address">Email address</label>
                                    <input type="text" asp-for="Email" autocomplete="off" class="form-control" readonly>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="country">Password</label>
                                            <input asp-for="Password" autocomplete="off" class="form-control">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword">Confirm Password</label>
                                            <input asp-for="ConfirmPassword" autocomplete="off" class="form-control">
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="street-address">Street address</label>
                                        <input type="text" asp-for="Address" id="street-address" autocomplete="off" class="form-control">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="City">City</label>
                                            <input type="text" asp-for="City" autocomplete="off" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="State">State</label>
                                            <input type="text" asp-for="State" autocomplete="off" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="PinCode">PIN / Postal code</label>
                                            <input type="text" asp-for="PinCode" autocomplete="off" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="BranchList">Select Branch</label>

                                            <div class="select2-purple">
                                                <select asp-for="BranchList" data-placeholder="Select a Warehouse" multiple="multiple" data-dropdown-css-class="select2-purple" class="select2 multiselect" asp-items="@(new SelectList(Model.Branches,"Id","BranchName"))" style="width: 100%;"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label asp-for="Role"></label>

                                        <select asp-for="Role" class="form-control" asp-items="@(new SelectList(roles,"Name","Name"))" required></select>
                                        <span asp-validation-for="Role" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>


                </div>


            </div>
        </div>

    </section>

    @section Scripts
    {

    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    <script src="~/lib/plugins/select2/js/select2.full.min.js"></script>
    <script>
        $(function() {
            $('.select2').select2({
                theme: 'bootstrap4'
            })
            $('.multiselect').select2()
        });
    </script>
    }