@model WMSWebApp.ViewModels.Company

@{
    ViewData["Title"] = "Add New Company";
}
@* Delete this below CSS File after revamping is done. *@
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<h4>Add New Company</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class=row>
                <div class="form-group col-md-6">
                    <div class="row">
                        <label asp-for="CompanyCode" class="control-label col-md-4"></label>
                        <input asp-for="CompanyCode" class="form-control col-md-4" />   
                    </div>                    
                    <span asp-validation-for="CompanyCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <div class="row">
                        <label asp-for="CompanyName" class="control-label col-md-4"></label>
                       <input asp-for="CompanyName" class="form-control col-md-4" /> 
                    </div>                    
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>                
            </div>
            @*<div class="form-group">
                <label asp-for="ScreenCode" class="control-label"></label>
                <input asp-for="ScreenCode" class="form-control" />
                <span asp-validation-for="ScreenCode" class="text-danger"></span>
            </div>*@
            <div class=row>
                <div class="form-group col-md-6">
                    <div class="row">
                        <label asp-for="Address" class="control-label col-md-4"></label>
                        <input asp-for="Address" class="form-control col-md-4" />   
                    </div>                    
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <div class="row">
                        <label asp-for="Location" class="control-label col-md-4"></label>
                       <input asp-for="Location" class="form-control col-md-4" /> 
                    </div>                    
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>                
            </div>
             <div class=row>
                <div class="form-group col-md-6">
                    <div class="row">
                        <label asp-for="ContactPersonHO" class="control-label col-md-4"></label>
                        <input asp-for="ContactPersonHO" class="form-control col-md-4" />   
                    </div>                    
                    <span asp-validation-for="ContactPersonHO" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <div class="row">
                        <label asp-for="ContactNumberHO" class="control-label col-md-4"></label>
                       <input asp-for="ContactNumberHO" class="form-control col-md-4" /> 
                    </div>                    
                    <span asp-validation-for="ContactNumberHO" class="text-danger"></span>
                </div>                
            </div>           
             <div class=row>
                <div class="form-group col-md-6">
                    <div class="row">
                        <label asp-for="EmailIdHO" class="control-label col-md-4"></label>
                        <input asp-for="EmailIdHO" class="form-control col-md-4" />   
                    </div>                    
                    <span asp-validation-for="EmailIdHO" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <div class="row">
                        <label asp-for="SpaceSizeFormat" class="control-label col-md-4"></label>
                        <select asp-for="SpaceSizeFormat" class="form-control col-md-4">
                            <option value="Sq foot" >Sq foot</option>
                            <option value="Per Sq foot">Per Sq foot</option>
                            <option value="Per Qubic foot">Per Qubic foot</option>
                        </select>
                       
                    </div>                    
                    <span asp-validation-for="SpaceSizeFormat" class="text-danger"></span>
                </div>                
            </div>
            <div class=row>
                <div class="form-group col-md-6">
                    <div class="row">
                        <label asp-for="Items" class="control-label col-md-4"></label>
                        <select asp-for="Items" asp-items="@(new SelectList(Model.ItemList,"Id","ItemName"))" class="form-control col-md-4"></select>
                        
                    </div>                    
                    <span asp-validation-for="Items" class="text-danger"></span>
                </div>
              @*  <div class="form-group col-md-6">
                    <div class="row">
                        <label asp-for="SubItem" class="control-label col-md-4"></label>
                       <input asp-for="SubItem" class="form-control col-md-4" /> 
                    </div>                    
                    <span asp-validation-for="SubItem" class="text-danger"></span>
                </div>             *@   
            </div>            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
