@model WMSWebApp.ViewModels.Company

@{
    ViewData["Title"] = "Update Company";
}

<h4>Update Company Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScreenCode" class="control-label"></label>
                <input asp-for="ScreenCode" class="form-control" />
                <span asp-validation-for="ScreenCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyCode" class="control-label"></label>
                <input asp-for="CompanyCode" class="form-control" />
                <span asp-validation-for="CompanyCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonHO" class="control-label"></label>
                <input asp-for="ContactPersonHO" class="form-control" />
                <span asp-validation-for="ContactPersonHO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumberHO" class="control-label"></label>
                <input asp-for="ContactNumberHO" class="form-control" />
                <span asp-validation-for="ContactNumberHO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailIdHO" class="control-label"></label>
                <input asp-for="EmailIdHO" class="form-control" />
                <span asp-validation-for="EmailIdHO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpaceSizeFormat" class="control-label"></label>
                <input asp-for="SpaceSizeFormat" class="form-control" />
                <span asp-validation-for="SpaceSizeFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Items" class="control-label"></label>
                <input asp-for="Items" class="form-control" />
                <span asp-validation-for="Items" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubItem" class="control-label"></label>
                <input asp-for="SubItem" class="form-control" />
                <span asp-validation-for="SubItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
