@using Domain.Model
@model List<Branch>
@{
    ViewData["Title"] = "SalePoReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <link href="~/lib/kendoUi/2021/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/lib/kendoUi/2021/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/kendoUi/2021/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/lib/kendoUi/2021/styles/kendo.default.mobile.min.css" rel="stylesheet" />
    <link href="/lib/jquery-ui/jquery-ui.css" rel="stylesheet" />

}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Service Order PO List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Report</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Service Order PO Report  </h3>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Branch</label>
                                    <select class="form-control" id="branchCode" asp-items="@(new SelectList(Model,"BranchCode","BranchName"))"></select>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-control" id="status" >
                                        <option value="ALL">All</option>
                                        <option value="Done">Done</option>
                                        <option value="Pending">Pending</option>
                                    </select>
                                </div>
                            </div>
                            @* <div class="col-md-2">
                            <div class="form-group">
                            <label>From</label>
                            <input id="fromDate" type="text" readonly class="form-control" />
                            </div>
                            </div>
                            <div class="col-md-2">
                            <div class="form-group">
                            <label>To</label>
                            <input id="toDate" type="text" readonly class="form-control" />
                            </div>
                            </div>*@
                        </div>
                        <div class="col-md-2 row">
                            <button id="search" class="btn btn-primary">Search</button>
                        </div>
                        <br />
                        <div id="intrasit-grid">
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/lib/kendoUi/2021/js/kendo.all.min.js"></script>
    <script src="~/lib/kendoUi/2021/js/jszip.min.js"></script>
    <script src="~/js/common.js"></script>
    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            function additionalData() {
                var data = {
                    branchCode: $("#branchCode").val(),
                    status: $("#status").val()
                }
                addAntiForgeryToken(data);
                return data;
            }

            $("#search").click(function () {
                var grid = $('#intrasit-grid').data('kendoGrid');
                grid.dataSource.page(1);
                return false;
            });
            var initialLoad = true;
            $("#intrasit-grid").kendoGrid({

                toolbar: ["excel"],
                excel: {
                    fileName: "ServiceOrderPOReport.xlsx",
                    allPages: true
                },
                dataSource: {

                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("ServiceOrderPOReport","Report")) ",
                            type: "POST",
                            dataType: "json",
                            data: additionalData,
                            complete: function (result) {
                                console.log("Remote built-in transport", result);
                                if (result.status == 401) {
                                    /* document.location.href = "@Html.Raw(Url.Action("Index", "AccessDenied"))";*/
                                }
                            }

                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function (e) {
                        //display_kendoui_grid_error(e);
                        // Cancel the changes
                        console.log(e)
                        this.cancelChanges();
                    },

                    pageSize: 20,
                    sortable: true,
                    serverPaging: true,
                    serverSorting: true,
                    requestStart: function () {
                        if (initialLoad) //<-- if it's the initial load, manually start the spinner
                            kendo.ui.progress($("#intrasit-grid"), true);
                    },
                    requestEnd: function () {
                        if (initialLoad)
                            kendo.ui.progress($("#intrasit-grid"), false);
                        initialLoad = false; //<-- make sure the spinner doesn't fire again (that would produce two spinners instead of one)

                    },

                },



                pageable: {
                    refresh: true,
                    pageSizes: true
                },
                scrollable: true,
                columns: [{
                    field: "Id",
                    title: "Id",

                    width: 50
                },
                {
                    field: "PoNumber",
                    title: "PoNumber",
                    width: 100
                },

                {
                    field: "stockTransferPOCatagry",
                    title: "stockTransferPOCatagry",
                    width: 120
                },
                 {
                    field: "stockTransferPoSendingTo",
                    title: "Sending To",
                    width: 100
                },
                 {
                    field: "stockTransferPoItem",
                    title: "Item",
                    width: 100
                },
                 {
                    field: "stockTransferPoSubitem",
                    title: "Sub Item",
                    width: 100
                },
                 {
                    field: "stockTransferPoSerialNumber",
                    title: "stockTransferPoSerialNumber",
                    width: 100
                },
                 {
                    field: "serviceCategory",
                    title: "serviceCategory",
                    width: 100
                },
                {
                    field: "stockTransferPoQty",
                    title: "Qty",
                  
                    width: 120
                },
                {
                    field: "Unit",
                    title: "Unit",
                    width: 100
                },
                {
                    field: "subItemCode",
                    title: "subItemCode",
                    width: 300
                },

                {
                    field: "stockTransferPoAmt",
                    title: "Amt",
                    width: 100
                },


                ],

            });
        });

    </script>
}