@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style{


    <link href="~/lib/kendoUi/2021/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/lib/kendoUi/2021/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/lib/kendoUi/2021/styles/kendo.default.mobile.min.css" rel="stylesheet" />

}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>GRN</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Master</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Good Receive Note</h3>
                        </div>
                        <form id="areaform">
                            <div class="card-body">
                                <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
                                <div class="row">
                                    <div class="form-group col-md-2">

                                        <label class="control-label">Document type</label>
                                        <select class="form-control">
                                            <option value="PO">PO NO.</option>
                                            <option value="Invoice">Invoice No.</option>
                                        </select>

                                    </div>
                                    <div class="form-group col-md-2" id="ponumber">
                                        <label>PO Number</label>
                                        <select class="form-control"></select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Invoice No.</label>
                                        <input class="form-control" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Document Date</label>
                                        <input class="form-control" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div id="myGrid">
                                </div>
                                </div>
                                
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active" id="nav-Meterial-tab" data-toggle="tab" href="#nav-Meterial" role="tab" aria-controls="nav-Meterial" aria-selected="true">Meterial</a>
                                                <a class="nav-item nav-link" id="nav-Quantity-tab" data-toggle="tab" href="#nav-Quantity" role="tab" aria-controls="nav-Quantity" aria-selected="false">Quantity</a>
                                                <a class="nav-item nav-link" id="nav-Where-tab" data-toggle="tab" href="#nav-Where" role="tab" aria-controls="nav-Where" aria-selected="false">Where</a>
                                                <a class="nav-item nav-link" id="nav-Purchase-tab" data-toggle="tab" href="#nav-Purchase" role="tab" aria-controls="nav-Purchase" aria-selected="false">Purchase Order Data</a>
                                                <a class="nav-item nav-link" id="nav-Receiver-tab" data-toggle="tab" href="#nav-Receiver" role="tab" aria-controls="nav-Receiver" aria-selected="false">Receiver</a>
                                                <a class="nav-item nav-link" id="nav-Serial-tab" data-toggle="tab" href="#nav-Serial" role="tab" aria-controls="nav-Serial" aria-selected="false">Serial Numbers</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-Meterial" role="tabpanel" aria-labelledby="nav-Meterial-tab">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Material</label>
                                                            <input id="vendor" class="form-control" placeholder="Material Name" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Material Code</label>
                                                            <input id="vendor" class="form-control" placeholder="Material Code" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="nav-Quantity" role="tabpanel" aria-labelledby="nav-Quantity-tab">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label>Qty in Unit of Entry</label>
                                                            <input id="vendor" class="form-control" placeholder="Qty" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Qty in SUK</label>
                                                            <input id="vendor" class="form-control" placeholder="Qty" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Qty in Delivery Note/Invoice</label>
                                                            <input id="vendor" class="form-control" placeholder="Qty" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Qty Ordered</label>
                                                            <input id="vendor" class="form-control" placeholder="Qty" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Issued Qty </label>
                                                            <input id="vendor" class="form-control" placeholder="Qty" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="nav-Where" role="tabpanel" aria-labelledby="nav-Where-tab">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Plant</label>
                                                            <input id="vendor" class="form-control" placeholder="Plant" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Storeage Location</label>
                                                            <input id="vendor" class="form-control" placeholder="Zone" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Area</label>
                                                            <input id="vendor" class="form-control" placeholder="Area" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Remark</label>
                                                            <input id="vendor" class="form-control" placeholder="Remark" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Plant Code</label>
                                                            <input id="vendor" class="form-control" placeholder="Plant Code" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Zone Code</label>
                                                            <input id="vendor" class="form-control" placeholder="Zone Code" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Area Code</label>
                                                            <input id="vendor" class="form-control" placeholder="Area Code" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-Purchase" role="tabpanel" aria-labelledby="nav-Purchase-tab">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label>Purchase order</label>
                                                            <input id="vendor" class="form-control" placeholder="Purchase order no." />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-Receiver" role="tabpanel" aria-labelledby="nav-Receiver-tab">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Vendor</label>
                                                            <input id="vendor" class="form-control" placeholder="Vendor Name" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Supplying Plant</label>
                                                            <select class="form-control">
                                                                <option>Daikin Pvt. ltd</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Supplying Plant Code</label>
                                                            <input id="vendor" class="form-control" placeholder="Copmany Code" />
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>

                                            <div class="tab-pane fade" id="nav-Serial" role="tabpanel" aria-labelledby="nav-Serial-tab">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <label>Serial Number</label>
                                                        <input id="vendor" class="form-control" placeholder="Serial Number" />
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    @section Scripts{

    <environment include="Development">
        <script src="~/lib/kendoUi/2021/js/kendo.all.min.js"></script>
        <script src="~/lib/kendoUi/2021/js/jszip.min.js"></script>
        <script src="~/js/common.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/kendoUi/2021/js/kendo.all.min.js"></script>
        <script src="~/lib/kendoUi/2021/js/jszip.min.js"></script>
        <script src="~/js/common.min.js"></script>
    </environment>
    <script src="~/sample/product.js"></script>

    <script>
        $(document).ready(function() {
            $("#myGrid").kendoGrid({
                dataSource: {
                    data: products,
                    schema: {
                        model: {
                            fields: {
                                ProductName: { type: "string" },
                                UnitPrice: { type: "number" },
                                UnitsInStock: { type: "number" },
                                Discontinued: { type: "boolean" }
                            }
                        }
                    },
                    pageSize: 20
                },
                height: 550,
                scrollable: true,
                sortable: true,
                filterable: true,
                pageable: {
                    input: true,
                    numeric: false
                },
                columns: [
                    {field:"ProductName",title:"ProductName",width:"200px"},
                    { field: "UnitPrice", title: "Unit Price", format: "{0:c}", width: "130px" },
                    { field: "UnitsInStock", title: "Units In Stock", width: "130px" },
                    { field: "Discontinued", width: "130px" }
                ]
            });
        });
    </script>

    }

