@model WMSWebApp.ViewModels.SubItem

@{
    ViewData["Title"] = "Edit";
}
@* Delete this below CSS File after revamping is done. *@
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<h1>Edit</h1>

<h4>SubItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="SubItemCode" class="control-label"></label>
                <input asp-for="SubItemCode" class="form-control" />
                <span asp-validation-for="SubItemCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubItemName" class="control-label"></label>
                <input asp-for="SubItemName" class="form-control" />
                <span asp-validation-for="SubItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <input asp-for="ItemId" class="form-control" />
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaterialDescription" class="control-label"></label>
                <input asp-for="MaterialDescription" class="form-control" />
                <span asp-validation-for="MaterialDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubItemSize" class="control-label"></label>
                <input asp-for="SubItemSize" class="form-control" />
                <span asp-validation-for="SubItemSize" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FOC" class="control-label"></label>
                <input asp-for="FOC" class="form-control" />
                <span asp-validation-for="FOC" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubItemCategory" class="control-label"></label>
                <input asp-for="SubItemCategory" class="form-control" />
                <span asp-validation-for="SubItemCategory" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubItemSR" class="control-label"></label>
                <input asp-for="SubItemSR" class="form-control" />
                <span asp-validation-for="SubItemSR" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

