@using WMSWebApp.ViewModels.GRN
@model CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style{


    <link href="~/lib/kendoUi/2021/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/lib/kendoUi/2021/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/lib/kendoUi/2021/styles/kendo.default.mobile.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/plugins/toastr/toastr.min.css" />
    <style>

        .ui-autocomplete {
            /*position: absolute;*/
            cursor: default;
            z-index: 1099 !important;
            max-height: 200px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .ui-datepicker {
            z-index: 1099 !important;
        }

        .ui-autocomplete-loading {
            background: white url("../img/ajax-loader.gif") right center no-repeat;
        }
    </style>
}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Invoice</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Master</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Invoice list</h3>
                        </div>

                        <div class="card-body">


                            <div class="row">
                                <div id="myGrid">
                                </div>
                            </div>



                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="pleaseWait" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Please Wait..</h5>

                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                </div>
                @*<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
            </div>
        </div>
    </div>

    @section Scripts{

    <environment include="Development">
        <script src="~/lib/kendoUi/2021/js/kendo.all.min.js"></script>
        <script src="~/lib/kendoUi/2021/js/jszip.min.js"></script>
        <script src="~/js/common.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/plugins/select2/js/select2.full.min.js"></script>
        <script src="~/js/grn/grnprocess.js"></script>
        <script src="~/lib/plugins/toastr/toastr.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/kendoUi/2021/js/kendo.all.min.js"></script>
        <script src="~/lib/kendoUi/2021/js/jszip.min.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/plugins/select2/js/select2.full.min.js"></script>
        <script src="~/js/common.min.js"></script>
        <script src="~/js/grn/grnprocess.js"></script>
        <script src="~/lib/plugins/toastr/toastr.min.js"></script>
    </environment>

    <script>
        $(document).ready(function() {

            var initialLoad = true;
            $("#myGrid").kendoGrid({


                dataSource: {

                    transport: {
                        read: {
                            url: "/Invoice/List",
                            type: "POST",
                            dataType: "json",
                            data: additionalData,
                            complete: function(result) {
                                console.log("Remote built-in transport", result);
                                if (result.status == 401) {
                                    /* document.location.href = "@Html.Raw(Url.Action("Index", "AccessDenied"))";*/
                                }
                            }

                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        //display_kendoui_grid_error(e);
                        // Cancel the changes
                        console.log(e)
                        this.cancelChanges();
                    },
                    pageSize: 20,
                    sortable: true,
                    serverPaging: true,
                    serverSorting: true,
                    requestStart: function() {
                        if (initialLoad) //<-- if it's the initial load, manually start the spinner
                            kendo.ui.progress($("#myGrid"), true);
                    },
                    requestEnd: function() {
                        if (initialLoad)
                            kendo.ui.progress($("#myGrid"), false);
                        initialLoad = false; //<-- make sure the spinner doesn't fire again (that would produce two spinners instead of one)

                    },

                },
               
                height: 350,
                pageable: {
                    refresh: true,
                    pageSizes: true
                },

                scrollable: false,
                columns: [{
                    field: "Id",
                    title: "Id",

                    width: 50
                },
                {
                    field: "InvoiceNumber",
                    title: "InvoiceNumber",
                    width: 100
                },
                {
                    field: "CreateOn",
                    title: "CreateOn",
                    width: 100
                },

                {
                    field: "PoCategory",
                    title: "PoCategory",
                    width: 120
                },
                {
                    field: "PoNumber",
                    title: "PoNumber",
                    encoded: false,
                    width: 120
                },

                {
                    field: "BilledTo",
                    title: "BilledTo",
                    width: 300
                },




                ],

            });
        });
    </script>



    }

